@model CheeseMVC.ViewModels.ViewMenuViewModel

@{
    ViewBag.Title = "MENU NAME";
}

<h1>@ViewBag.Title</h1>
<ul>
    @foreach (var CheeseMenu in Model.Items)
    {
      <li>@CheeseMenu.Cheese</li>
    }
</ul>

<a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a>
